*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f1f1f1;
  font-family: 'Poppins',sans-serif;
  
  
}

body{
  background-color: black;
}
.header{
  padding: 15px;
  border-bottom: 3px solid #32b9cd;
  background-color: #222;
}

.container{
  margin:0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

h1{
  color:#32b9cd;
  font-weight: 800;
}
ul{
  display: flex;
  list-style: none;
  flex-direction:row;
  width: 350px;
  justify-content: space-between;
}

li{
  color:#e3b062;
}

.banner{
  width: 100%;
  height: 80vh;
  background-image: url("/assets/img/bg-jelly-fish-para_outras_pags.png");
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner p {
  color: #fff;
  font-size: 3em;
  width: 280px;
}

.social,.caixa,.caixas{
  display: flex;
}
.social {
width: 100%;
background-color: #fff;
}



.caixas{
  margin: 35px 0;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap ;
}

.caixa{
  flex-direction: column;
  align-items: center;
  flex: 1;
  
}
.caixa img {
  width: 170px;
}

.caixa h4 {
  color: #e6005a;
  font-size: 1.5em;
  margin: 15px 0;
}

.caixa p{
  color: #000;
  text-align: center;
}



